@import "variables";
@import "../sprites/sprite";

@include retina-sprites($retina-groups);

body {
	color: $main-color;
	text-align: center;
	background: url(../../images/background.jpg) center;
	background-size: cover;
}

h1 {
	display: inline-block;
	padding: 10rem;

	&:after {
		content: '';
		display: inline-block;
		@include retina-sprite($icon-group);
		transform: scale(2);
		transform-origin: left bottom;
	}
}

p {
	transform: scale(.9);
}
